<button class="btn btn-primary" (click)="logout()" >Sair</button>


<div class="row">
    <form [formGroup]="formSearch">
        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" formControlName="search" class="form-control" id="search" placeholder="Informe o nome" />
        </div>
    </form>

</div>
<div class="row">

    <pre>
        <code>
            {{formSearch.get('search').value}}
        </code>
    </pre>
    
</div>

<div class="row d-flex justify-content-center">
    <div class="col" *ngFor="let item of items | searchPipe : formSearch.get('search').value : 'name'">
            <shared-card [people]="item" (btnViewMore)="showPeople($event)"></shared-card>
    </div>
</div>